@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  /* Font Families */
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);
  --font-sans-italic: var(--font-inter-italic);
  --font-mono-italic: var(--font-jetbrains-italic);
  --font-wopr: var(--font-wopr);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-on-brand: var(--on-brand);
  --color-slate-50: var(--slate-50);
  --color-slate-100: var(--slate-100);
  --color-slate-200: var(--slate-200);
  --color-slate-300: var(--slate-300);
  --color-slate-400: var(--slate-400);
  --color-slate-500: var(--slate-500);
  --color-slate-600: var(--slate-600);
  --color-slate-700: var(--slate-700);
  --color-slate-800: var(--slate-800);
  --color-slate-900: var(--slate-900);
  --color-slate-950: var(--slate-950);
  --color-wopr-background: var(--wopr-background);
  --color-wopr-foreground: var(--wopr-foreground);
  --color-github: var(--github-brand);
  --color-bluesky: var(--bluesky-brand);
  
  /* Shadows */
  --inset-shadow-header: var(--inset-shadow-header);
  --shadow-header: var(--shadow-header);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.395 0.0305 237.74);
  --brand: oklch(0.5443 0.111 231.97);
  --on-brand: oklch(97.59% 0.012 247.95);
  --slate-50: oklch(0.9933 0.0011 197.14);
  --slate-100: oklch(0.9779 0.0025 228.78);
  --slate-200: oklch(0.8993 0.0119 239.92);
  --slate-300: oklch(0.8192 0.0218 241.41);
  --slate-400: oklch(0.7396 0.0319 239);
  --slate-500: oklch(0.6561 0.0427 240.38);
  --slate-600: oklch(0.5715 0.0485 240.47);
  --slate-700: oklch(0.4835 0.0398 239.48);
  --slate-800: oklch(0.395 0.0305 237.74);
  --slate-900: oklch(0.2904 0.0211 240.01);
  --slate-950: oklch(0.2169 0.013 233.22);
  --wopr-background: oklch(0.1549 0.0337 281.74);
  --wopr-foreground: oklch(92.3% 0.068 221.2);
  --github-brand: oklch(0.2058 0.0016 17.29);
  --bluesky-brand: oklch(0.6258 0.205 254.95);
  --inset-shadow-header:
    inset 0 -1px 0 0 var(--slate-300), inset 0 -2px 0 0 var(--slate-100),
    inset 0 -3px 0 0 var(--slate-100), inset 0 -4px 0 0 var(--slate-200);
  --shadow-header:
    1px 0 0 0 var(--slate-200), 2px 0 0 0 var(--slate-100),
    3px 0 0 0 var(--slate-100), 4px 0 0 0 var(--slate-300);
}

@layer base {
  body{
    @apply bg-background selection:bg-brand selection:text-on-brand;
  }
  .b1 {
    @apply border border-red-500;
  }
  .b2 {
    @apply border border-green-500;
  }
  .b3 {
    @apply border border-amber-500;
  }
  .bg1 {
    @apply bg-red-500/50;
  }
  .bg2 {
    @apply bg-green-500/50;
  }
  .bg3 {
    @apply bg-amber-500/50;
  }
}
